<ion-view view-title="Redeem a Meal">
    <ion-content>
        <div class="container redeem-meal">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel-body">

                        <!--<div class="row">-->
                            <!--<div class="col-xs-12 text-center">-->
                                <!--<img src="images/barcode.gif"/>-->

                            <!--</div>-->
                        <!--</div>-->
                        <!--<br/>-->
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-2">


                                <div class="thumbnail">
                                    <br/>

                                    <div class="row">
                                        <div class="col-xs-8">
                                            <h1>Coyo Taco <small>$5.00</small></h1>
                                            <p>Please show the barcode below to staff.</p>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#" class="btn btn-primary pull-right" role="button"
                                               ng-click="print()">
                                                <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</a>

                                        </div>

                                    </div>
                                    <br/>
                                    <br/>

                                    <img src="images/barcode.gif"/>

                                    <br/>
                                    <br/>
                                    <div class="caption">
                                        <h3>How to get there <small> <span class="glyphicon glyphicon-map-marker"></span>10 min. walking</small></h3>

                                    </div>
                                    <br>
                                    <img src="images/walkingCoyo.png" class="map img-rounded">

                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </ion-content>
</ion-view>


